header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#body-bg {
    background-color: rgba(38, 0, 65, 1);
}

#navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: var(--width);
    height: 100%;
    padding: 10;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-image: linear-gradient(rgba(0,0,0,0.8), transparent);
    /* box-shadow: 10px 0 10px rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

#navbar > * {
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(173,216,230,0.6);
    font-style: oblique;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 0 0 4px magenta;
    padding: 0 5px;
    margin: 10px;  
}

#navbar > button {
  background-color:transparent;
  border-width: 0px;
  border-radius: 12px;
  outline-style: none;
}

#navbar > button:hover {
  background-color: rgba(255, 0, 255, 0.1); 
  cursor: pointer;
  text-shadow: 0 0 12px magenta;
  box-shadow: 0 0 12px rgba(255, 0, 255, 0.2); 
}

#navbar > button:active  {
  background-color: rgba(255, 0, 255, 0.2); 
  cursor: pointer;
  text-shadow: 0 0 12px magenta;
  box-shadow: 0 0 24px rgba(255, 0, 255, 0.4); 
}

.screen {
    position: absolute;
    top: var(--top);
    left: var(--left);
    margin: 40px;
    border: 2px solid;
    border-color: rgba(127, 127, 127,0.5);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(127,127,127);
    outline: none;
    padding: 0 0 -4px 0;
}

#set-size {
    visibility: hidden;
    display: block;
}

@-webkit-keyframes flash {
    0%, 1.70001%, 100% {visibility: hidden;}
    0.00001%, 1.7% { visibility: visible;}
}
@keyframes flash {
    0%, 1.70001%, 100% {visibility: hidden;}
    0.00001%, 1.7% { visibility: visible;}
}

.frame {
    position:absolute;
    left:0px;
    top:0px;
    visibility: hidden;
    -webkit-animation: flash;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: var(--duration);
    -webkit-animation-delay: var(--delay);
    animation: flash;
    animation-iteration-count: infinite;
    animation-duration: var(--duration); 
    animation-delay: var(--delay);
}

@-webkit-keyframes flash-bean {
    0%, 0.11112%, 100% {visibility: hidden;}
    0.00001%, 0.11111% { visibility: visible;}
}
@keyframes flash-bean {
    0%, 0.11112%, 100% {visibility: hidden;}
    0.00001%, 0.11111% { visibility: visible;}
}

.frame-bean {
    position:absolute;
    left:0px;
    top:0px;
    visibility: hidden;
    -webkit-animation: flash-bean;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: var(--duration);
    -webkit-animation-delay: var(--delay);
    animation: flash-bean;
    animation-iteration-count: infinite;
    animation-duration: var(--duration); 
    animation-delay: var(--delay);
}

@-webkit-keyframes flash-starwheel {
    0%, 0.22272%, 100% {visibility: hidden;}
    0.00001%, 0.22273% { visibility: visible;}
}
@keyframes flash-starwheel {
    0%, 1.70001%, 100% {visibility: hidden;}
    0.00001%, 1.7% { visibility: visible;}
}

.frame-starwheel {
    position:absolute;
    left:0px;
    top:0px;
    visibility: hidden;
    -webkit-animation: flash-starwheel;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: var(--duration);
    -webkit-animation-delay: var(--delay);
    animation: flash-starwheel;
    animation-iteration-count: infinite;
    animation-duration: var(--duration); 
    animation-delay: var(--delay);
}
